[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pip = "*"
flask = "*"
python-decouple = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipython = "*"
opencv-python = "*"
os = "*"
torchvision = "*"
pickle = "*"
pytorch = "*"

[requires]
python_version = "3.6"
